*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
  background-image: url('https://img.freepik.com/free-photo/office-supplies_23-2148103974.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}